Options -MultiViews
Options -Indexes
RewriteEngine On
RewriteRule ^article/(.+).html$ post.php?id=$1 [QSA,L]
RewriteRule ^tag/(.+)$ tag.php?id=$1 [QSA,L]
RewriteRule ^category/(.+)$ category.php?id=$1 [QSA,L]
RewriteRule index.html index.php
 