*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #000000;
}
main a:hover,
main a:active{
    text-decoration: underline;
}
li{
    list-style: none;
}
button,
input[type="submit"]{
    cursor: pointer;
}
html{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    letter-spacing: 0.2px;
}
p{
    line-height: 1.5;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}
label{
    font-weight: bold!important;
}
/* header */
header{
    background-color: #f8f9fa;
    
}
header .container{
    position: relative;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.menu ul{
    display: flex;
}
header ul li{
    list-style: none;
}
header ul a{
    display: inline-block;
    padding: 0 20px;
    font-size: 1.25rem;
}
.left-nav{
    display: flex;
}
/* logo  */
.logo img{
    display: block;
    width: 30px;
    height: 30px;
}
header h1 a{
    display: flex;
    align-items: center;
}
header img{
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
}
/* hamburger  */
.hamburger{
    display: none;
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 30px;
}
.hamburger div {
    position: absolute;
    width: 30px;
    height: 5px;
    background-color: #000;
}
.hamburger div:first-child{
    top: 0;
    
}
.hamburger div:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
}
.hamburger div:last-child{
    bottom: 0;
}
/* search-icon  */
.search-icon{
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    border: 1px solid #000;
    display: none;
}
.search-icon span {
    display: block;
    width: 100%;
    font-size: 1.3rem;

}

.search-bar{
    display: none;
    position: absolute;
    top: 100%;
    /* 20px: total left, right padding of relative container element */
    width: calc(100% - 20px); 
}

.search-bar input{
    width: 100%;
    padding: 5px;
    
}
/* tag */
.tag,
.category{
    color: #1a5d9c;
}
.tag-header{
    border-bottom: 3px solid #000;
    margin-bottom: 5px;
    padding: 5px 0;
}
.category{
    display: block;
    font-size: 1.1rem;
}
/* brief  */
.brief > div img{
    display: block;
    width: 50%;
    max-width: 50%;
    object-fit: cover;
}
.brief a{
    color: #1a5d9c;
}

/* popup menu  */
.popup-menu{
    position: absolute;
    top: 0;
    left: -200%;
    width: 300px;
    background-color: #276daf;
    transition: left 0.2s ease-out;
}
.popup-menu a{
    color: #fff;
}
.popup-menu li{
    padding: 15px;
    border-bottom: 1px solid #fff;
}

.open.popup-menu{
    left: 0;
}

/* main  */
main{
    padding: 3rem 0;
}
h2 a{
    color: #1d2b4b;
    font-size: 1.5rem;
}
.wrap{
    display: flex;
    justify-content: space-between;
}
.left-side{
    width: 75%
}
.right-side{
    width: 25%;
}
.right-side > div{
    margin-bottom: 1.5rem;
}
/* article  */
.post-home{
    display: flex;
    margin-bottom: 2rem;
}
.post-home > a{
    max-width: 20%;
    display: inline-block;
    width: 20%;
}
.post-home a img{
    display: inline-block;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;

}
.post-home div{
    max-width: 80%;
    padding-left: 15px;
}
.post-home div p:first-of-type{
    margin-bottom: 0.5rem;
}
.time{
    font-size: 0.8rem;
    line-height: 0.8rem;
}

/* right side  */
.search{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}
.search input[type="text"],
.login-form input{
    padding: 5px;
    width: 100%;
}
.right-side h4{
    font-size: 1.3rem;
}
.brief > div{
    margin: 0.7rem 0;
}
/* pagination  */
.pagination {
    display: flex;
    justify-content: center;
  }
  
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}
  
.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}
  
.pagination a:hover:not(.active) {background-color: #ddd;}

/* footer  */
footer{
    background-color: #f8f9fa;
    color: #000;
    
}
footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 37px;
    padding-bottom: 37px;
}
footer p,
footer ul{
    display: flex;
    align-items: center;
}
footer p{
    font-size: 14px;
    line-height: 26px;
}
footer ul li{
    margin-left: 10px;
}
footer ul a{
    display: inline-block;
    text-indent: -1000000px;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: 18px 18px;

}
/* social  */
footer ul li a{
    width: 20px;
}
footer ul li:first-child a{
    background-image: url(../imgs/youtube.png);
}
footer ul li:nth-child(2) a{
    background-image: url(../imgs/instagram.png);
}
footer ul li:nth-child(3) a{
    background-image: url(../imgs/tik-tok.png);
}

/*each post  */
.tags,
.post p,
.post .time{
    margin-bottom: 1.2rem;
}
/* .container-article{
    max-width: 700px;
    margin: 0 auto;
    padding: 0 15px;
} */
.post h1{
    font-size: 2.3rem;
}
.post img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    /* object-fit: cover;  */
}
.post h3{
    font-size: 1.5rem;
}

.post .time{
    display: inline-block;
}
.tags a{
    color: #3359aa;
}

/* search in an article page  */
.each-post-search h1 a{
    font-size: 1rem;
}
.article-page-search{
    padding-left: 1rem;
}


/* relevant-post  */
.relevant-post ul{
    display: flex;
    flex-wrap: wrap;
}
.relevant-post ul li{
    width: 25%;
    padding: 10px;
}
.relevant-post ul li a{
    display: inline-block;
    width: 100%;
    font-size: 0.9rem;
    color: #1a5d9c;
}
.relevant-post ul li img{
    width: 100%;
    display: block;
    max-width: 100%;
    
}
  
